# See http://help.github.com/ignore-files/ for more about ignoring files.
# System Files
.DS_Store
Thumbs.db

*.gif
*.bmp
*.wrong
*.swf
*.doc
*.htm
*.html
*.BUP
*.inf
*.bk?
*Copy*.*

iltree.exe.iets minder oud
iltree2.txt
newtext nw.txt
newtext.txt
Butlertext - Copy.xml
iliad - Copy (2) old.xml
*.old
iltree reversing.exe
iliad.xml.voor alle zekerheid
